// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

123                     RT_MANIFEST             ".\\styles.manifest"
#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Korean (Korea) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)

/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

IDR_BASESCRIPT          RCDATA                  "Editor\\Lua\\basescript.lua"
IDR_LUAHOOK             RCDATA                  "Editor\\Lua\\luahook.lua"
IDR_LUALICENSE          RCDATA                  "License\\license_lua.txt"
IDR_SCINTILLALICENSE    RCDATA                  "License\\license_scintilla.txt"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINMENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Compile\tF5",                 IDM_FILE_COMPILE
        MENUITEM "Compile Nonag\tCtrl+S",       IDM_FILE_COMPILENONAG
        MENUITEM "Exit\tAlt+F4",                IDM_FILE_EXIT
    END
    POPUP "Edit"
    BEGIN
        MENUITEM "Find\tCtrl+F",                IDM_EDIT_FIND
        MENUITEM "Replace\tCtrl+H",             IDM_EDIT_REPLACE
        MENUITEM SEPARATOR
        MENUITEM "New trigger\tCtrl+T",         IDM_EDIT_NEWTRIGGER
    END
    POPUP "View"
    BEGIN
        MENUITEM "Fold All\tCtrl+Shift+F",      IDM_VIEW_FOLDALL
        MENUITEM "Unfold All\tCtrl+Shift+D",    IDM_VIEW_UNFOLDALL
    END
    POPUP "Help"
    BEGIN
        MENUITEM "Trigger syntax\tF1",          IDM_HELP_TRIGGERSYNTAX
        MENUITEM "About TrigEditPlus",          IDM_HELP_ABOUTTRIGEDITPLUS
        MENUITEM SEPARATOR
        MENUITEM "Licenses",                    IDM_HELP_LICENSES
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR ACCELERATORS
BEGIN
    VK_UP,          2000,                   VIRTKEY, CONTROL, NOINVERT
    VK_DOWN,        2001,                   VIRTKEY, CONTROL, NOINVERT
    "F",            IDM_EDIT_FIND,          VIRTKEY, CONTROL, NOINVERT
    "H",            IDM_EDIT_REPLACE,       VIRTKEY, CONTROL, NOINVERT
    "T",            IDM_EDIT_NEWTRIGGER,    VIRTKEY, CONTROL, NOINVERT
    VK_F5,          IDM_FILE_COMPILE,       VIRTKEY, NOINVERT
    "S",            IDM_FILE_COMPILENONAG,  VIRTKEY, CONTROL, NOINVERT
    "F",            IDM_VIEW_FOLDALL,       VIRTKEY, SHIFT, CONTROL, NOINVERT
    "D",            IDM_VIEW_UNFOLDALL,     VIRTKEY, SHIFT, CONTROL, NOINVERT
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Korean (Korea) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

